* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(img/pattren1.jpeg);
}

h2 {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(237, 203, 12);
  text-shadow: -2px 1px 4px rgb(7, 7, 7);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.calculator {
  background-image: url(img/patteren4.jpeg);
  background-color: rgb(209, 216, 215);
  padding: 10px;
  border-radius: 5px;
  box-shadow: -1px 1px 9px rgb(45, 41, 9);
}

.textView {
  font-family: 'Bruno Ace SC', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  height: 70px;
  width: 176px;
  font-size: 25px;
  padding-left: 15px;
  border: none;
  box-shadow: inset -3px 3px 3px rgba(9, 9, 9, 0.3);
}
thead tr th {
  width: 40px;
  height: 20px;
  border: 1px solid aliceblue;
  color: aliceblue;
}

.button {
  font-family: 'Bruno Ace SC', cursive;
  color: rgb(161, 105, 13);
  margin-left: 3px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  width: 42px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: inset -3px 3px 3px rgba(9, 9, 9, 0.3);
}

.tambah {
  font-family: 'Bruno Ace SC', cursive;
  margin-left: 3px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  width: 42px;
  height: 80px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: rgb(161, 105, 13);
  box-shadow: inset -3px 3px 3px rgba(9, 9, 9, 0.3);
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.tambah:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
